        <style>
            body{
	font-family: arial;
	margin:0px;
            }
            .header{
                position:absolute;
                top:0px;
                left:0px;
                width:100%;
                height:77px;
            }
            .header h1{
                color:#777;
                font-size: 38px;
                margin:0px 0px 0px 30px;
                font-weight:100;
                line-height:80px;
                padding:0px;
            }
            .footer{
	width:100%;
	margin-right: 0px;
	margin-left: 0px;
            }
            a img{
                border:none;
                outline:none;
            }
            .ad{
                position:absolute;
                right:10px;
                top:5px;
                width:470px;
                height:70px;
            }
            .content{
                margin-top:80px;
                padding:0px;
                bottom:0px;
            }
            .about{
                width:100%;
                height:200px;
                background-color:#AFD9E4;
                border-top:2px solid #fff;
                border-bottom:2px solid #fff;
                clear:both;
            }
            .about .text{
                width:45%;
                margin:5px 2% 10px 2%;
                height:180px;
                float:left;
                color:#444;
                font-size: 12px;
                text-align:justify;
                letter-spacing:0px;
            }
            .about .text h1{
                border-bottom: 1px dashed #fff;
                color:#fff;
            }
            .demo{
                float:left;
            }
        </style>
